<!DOCTYPE html>
<html>
    <head>
        <style>
            #map_canvas {
                width: 1000px;
                height: 800px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="smoothness-1.8.13/jquery-ui-1.8.13.custom.css">
        <link rel="stylesheet" type="text/css" href="/static/extern/dropdown-check-list/css/ui.dropdownchecklist.themeroller.css">    
    </head>
    <body>
        <label>University:</label>
        {% for city in cities %}
        <input type="hidden" id='{{city}}' value= '{{cities[city]["Latitude"]}}:{{cities[city]["Longitude"]}}'/>
        {% endfor %}
        
        <select id='selectUniv' onchange="changeCity(this, $('#' + this.options[this.selectedIndex].value).val())">
          {% for city in cities %}
            <option>
              {{city}}
            </option>
          {% endfor %}
        </select>
        <form id ="busAlert">
            <label>Address: </label>
            <input id="address" onkeydown="if (event.keyCode == 13) addMark()"></input>
            <label>Bus Number: </label>
            <input id="busNum" placeholder="List of buses" title="Enter tracking bus numbers separated by commas"></input>
            <label>Alert Distance</label>
            <input id="alertDistance"></input>
        </form>
        <div id="map_canvas"></div>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script type="text/javascript" src="/static/mapTest.js"></script>
        <script type="text/javascript" src="/static/extern/dropdown-check-list/js/ui.dropdownchecklist-1.4-min.js"></script>

    </body>
</html>
